#AboutUsDiv {
  text-shadow: #000 0px 0px 3px, #000 0px 0px 3px, #000 0px 0px 3px,
    #000 0px 0px 3px, #000 0px 0px 3px, #000 0px 0px 3px;
  color: aliceblue;
}

#AboutUsDiv {
  vertical-align: middle;
  overflow: hidden;
}

#AboutUsDiv > h1 {
  display: flex;
  justify-content: center;
  font-size: 300%;
}

#AboutUsDiv > .FM {
  display: flex;
  justify-content: center;
}

#AboutUsDiv > .FM > p {
  font-size: 140%;
  width: 50%;
}

#AboutUsDiv > .FM > a {
  margin: 4%;
  margin-bottom: 0%;
}

#AboutUsDiv > .FM > a > #btn_eve_head > svg {
  margin-left: 10px;
}

#AboutUsDiv > .FM.D {
  justify-content: space-evenly;
  padding-left: 5%;
  padding-right: 5%;
  overflow: hidden;
}
#AboutUsDiv > .FM.D > .AboutAni {
  display: flex;
  align-items: center;
}
#AboutUsDiv > .FM.D > .AboutAni.ONLY_FOR_PHONE {
  display: none;
}
#AboutUsDiv > .FM.D > div > svg {
  align-self: center;
  max-height: 400px;
}

#AboutUsDiv > .FM > .AboutInfo {
  margin-top: 80px;
  margin-bottom: 50px;
  margin-right: 40px;
}

#AboutUsDiv > .FM > .AboutInfo.R {
  text-align: right;
}

#AboutUsDiv > .FM > .AboutInfo > .AboutInfoBody {
  margin-top: 30px;
  max-width: 700px;
  font-size: 18px;
  line-height: 35px;
}

@media only screen and (max-width: 767px) {
  #AboutUsDiv > .FM > p {
    font-size: 125%;
    width: 80%;
  }
  #AboutUsDiv > .FM.D > .AboutInfo {
    margin: 0% !important;
    padding: 4% !important;
  }
  #AboutUsDiv > .FM.D {
    display: unset;
  }
  #AboutUsDiv > .FM.D > .AboutAni.ONLY_FOR_PHONE {
    display: unset;
  }
  #AboutUsDiv > .FM.D > .AboutAni.FOR_ALL {
    display: none;
  }
}
