#JoinDiv {
  color: aliceblue;
  text-shadow: #000 0px 0px 3px, #000 0px 0px 3px, #000 0px 0px 3px,
    #000 0px 0px 3px, #000 0px 0px 3px, #000 0px 0px 3px;
  align-items: center;
  justify-content: center;
}

#JoinDiv > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

#JoinDiv > p {
  justify-content: center;
  align-items: center;
  padding-left: 17%;
  padding-right: 17%;
  font-size: 20px;
  margin: 4%;
}
#JoinDiv > p > a {
  text-decoration: none;
  color: magenta;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  #JoinDiv > h1 {
    padding-left: 4%;
    padding-right: 4%;
  }
  #JoinDiv > p {
    padding-left: 3%;
    padding-right: 3%;
  }
}

#JoinDiv > .JoinFormDiv > * > button {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  width: unset;
  padding-top: 0%;
  padding-bottom: 0%;
}
#JoinDiv > .JoinFormDiv > * > button > span {
  padding-right: 20%;
  cursor: pointer;
}
#JoinDiv > .JoinFormDiv > * > button > svg {
  font-size: 2.5rem;
}

#JoinDiv > .JoinFormDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 4%;
  padding-right: 4%;
}

#JoinDiv > .JoinFormDiv > form {
  width: 800px;
}

#JoinDiv > .JoinFormDiv > form > div > label {
  margin-top: 2%;
  margin-bottom: 2%;
}

#JoinDiv > .JoinFormDiv > form > div > input {
  cursor: auto;
}
#JoinDiv > .JoinFormDiv > form > * > textarea {
  cursor: auto;
}
#JoinDiv > .JoinFormDiv > form > .domain {
  cursor: auto;
}
#JoinDiv > .JoinFormDiv > form > .domain > select {
  cursor: auto;
}
