@keyframes breath {
  0% {
    width: 200px;
    padding-top: 20%;
  }
  50% {
    width: 300px;
    padding-top: 10%;
  }
  100% {
    width: 200px;
    padding-top: 20%;
  }
}
@keyframes breath1 {
  0% {
    width: 200px;
    object-fit: contain;
    padding-top: 10%;
  }
  50% {
    object-fit: contain;
    width: 300px;
    padding-top: 20%;
  }
  100% {
    object-fit: contain;
    width: 200px;
    padding-top: 10%;
  }
}

#SiteInfoHead {
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  color: aliceblue;
  padding: 3%;
}

#SiteInfoAnis {
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

#SiteInfoAnis > .row {
  justify-content: center;
  margin: auto;
  max-width: 85%;
}

#SiteInfoAnis > .row > .col {
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  margin: 3%;
}
#SiteInfoAnis > .row > .col > h4 {
  color: aliceblue;
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
}

#SiteInfoAnis > .row > .col > div {
  display: flex;
  min-height: 375px;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
}
#SiteInfoAnis > .row > .col > * > svg {
  max-height: 375px;
}
#SiteInfoAnis > .row > .col > * > img {
  animation: breath 5000ms infinite forwards;
  padding: 5%;
  max-height: 300px;
}
#SiteInfoAnis > .row > .col > * > .img {
  animation: breath 5000ms infinite forwards;
  padding: 5%;
  max-height: 300px;
}

#SiteInfoAnis > .row > .col > div {
  object-fit: contain;
}
