#storiesPageDIV {
  justify-content: center;
  align-items: center;
  color: aliceblue;
  text-shadow: #000 0px 0px 3px, #000 0px 0px 3px, #000 0px 0px 3px,
    #000 0px 0px 3px, #000 0px 0px 3px, #000 0px 0px 3px;
}
#storiesPageDIV > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#dev {
  display: flex;
  justify-content: center;
  align-items: center;
}
