#ErrorDiv .ErrHead {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 2.3rem;
  color: aliceblue;
}

#ErrorDiv .ErrAni {
  display: flex;
  width: 100%;
  justify-content: center;
  max-height: 300px;
}
