#header_logo {
  object-fit: contain;
  width: 250px;
}

#header {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  align-self: center;
  vertical-align: middle;
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
  margin-bottom: 3%;
}

#headerWarning {
  color: rgba(255, 189, 189, 0.5);
  text-shadow: #000 0px 0px 3px, #000 0px 0px 3px, #000 0px 0px 3px,
    #000 0px 0px 3px, #000 0px 0px 3px, #000 0px 0px 3px;
  text-align: end;
  font-size: small;
}

#btn_drop_head > * > * > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  text-decoration: none;
  font-size: large;
  padding-top: 03.5%;
  padding-bottom: 03.5%;
}

#btn_drop_head > * > * svg {
  font-size: 1.3rem;
}

#btn_drop_head > * > * > * > * {
  text-shadow: none;
}

#btn_drop_down_head {
  cursor: unset;
  background-color: aliceblue;
}

#btn_drop_down_head > * > * > span {
  cursor: unset;
}

#Header_Buttons {
  width: 450px;
  align-items: center;
  justify-content: space-between;
  float: right;
  cursor: unset;
}
#Header_Buttons > .row {
  float: right;
}

#btnHeadCol1 > * :hover,
#btnHeadCol2 > * :hover {
  text-shadow: none;
}

@media only screen and (max-width: 767px) {
  #btnHeadCol1,
  #btnHeadCol2 {
    visibility: hidden;
    display: none;
  }
}
