#HeaderMobile {
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 2%;
  margin-bottom: 3%;
  padding-top: 9px;
  padding-bottom: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
}

#HeaderMobile > h4 {
  font-size: 9.5px;
}

@media only screen and (min-width: 767px) {
  #HeaderMobile {
    visibility: hidden;
    display: none;
  }
}
