#LoadingDiv .LoadHead {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 2.3rem;
  color: aliceblue;
}

#LoadingDiv .LoadAni {
  display: flex;
  width: 100%;
  justify-content: center;
  max-height: 300px;
}
