#header_logo {
  object-fit: contain;
  width: 250px;
}

#header {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  align-self: center;
  vertical-align: middle;
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
}

#Header_Buttons {
  width: 450px;
  align-items: center;
  justify-content: space-between;
  float: right;
}
#Header_Buttons > .row {
  float: right;
}
